<h3>dbz Personajes</h3>
<p>dbz carpeta q engloba formulario y lista.Padre de ambas</p>
<!-- Añadimos clases de boostraps que estan configuradas en index.htm <head> -->
<!-- Podemos encontrar componentes personalizados con <ion-xxxx></ion-xxxx> -->
<div class="row">
    <div class="col">  
        <dbz-list (onDelete)="onDeleteCharacter($event)" [characterList]="characters"></dbz-list>
    </div>
    <div class="col">   
        <dbz-charset-form (onNewCharacter)="onNewCharacter($event)"></dbz-charset-form>
    </div>
   
</div>


